.feynman__title {  
    display: flex;
    justify-content: center;
    margin: 100px auto 0 auto;
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    z-index: 2;
  } 
  