.page { 
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif; 
}

.header { 
  height: 100vh;
  min-height: 600px;
  max-height: 756px;  
  display: flex; 
  align-items: center; 
  position: relative; 
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* и элемента с модификатором вида ключ-значение 
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px; 
}  */ 

/* div { 
  border: 1px solid red;
} */ 


.logo_place_header {
  background-image: url(../images/logo_place_header.svg); 
  width: 228px; 
  height: 32px; 
  background-position: center;
  background-size: cover;   
  position: absolute; 
  top: 30px; 
  left: 64px;
}
  
.header-title {  
  margin-left: 64px;
  width: 730px; 
  line-height: 96px;   
} 

.header-subtitle { 
  align-items: center;
  width: 388px; 
  bottom: 30px; 
  left: 64px; 
  position: absolute; 
  line-height: 25px;
}  

.quare-pic {  
  background-color:#2f80ed; 
  position: absolute;
  width: 568px;
  height: 568px; 
  top: 64px; 
  right: 0px; 
  z-index: 1;
  }

.main-illustration {  
  
  width: 765px;
  height: 608px;
  bottom: 0; 
  right: 0; 
  position: absolute; 
  background-size: cover;   
  z-index: 2; 
}   

.header_title_text {
  font-weight: 600; 
  font-size: 102px;  
}

.header_subtitle_text {
  font-size: 18px;
  font-weight: normal;  
}   

.header_subtitle_link {
  font-size: 18px;
  font-weight: normal;  
  color: #2f80ed; 
  text-decoration: none;
}

.two-columns {  
  display: flex;   
  justify-content: space-between;  
  margin: 100px 175px 0 175px; 
  min-height: 158px;  
  width: 80%;  
 }  



.brief_discription_text { 
  top: 0;  
  font-size: 18px; 
  font-weight: normal; 
  line-height: 1.2; 
  width: 175px; 
  font-style: normal;  
  color: #2f80ed;
  }

.main-text {    
  flex-direction: column;  
  min-width: 784px; 
  width: 80%;
}  


.pharagraph_top_text {   
  font-size: 24px;
  font-style: normal;  
  line-height: 34px;  
  margin: 0;
} 

.pharagraph_center_text {
  font-size: 24px; 
  font-style: 600; 
  margin-top: 30px; 
} 

.pharagraph_bottom_text {
  font-size: 24px; 
  font-style: 600; 
  margin-top: 30px; 
  margin: 0;
} 

.pharagraph_center_span {
  font-weight: bold;
}  


.section-title {
  margin: 100px auto 0 auto; 
  width: 60%;  
} 

.section_title_text { 
  display: flex;
  justify-content: center; 
  line-height: 1.15; 
  font-size: 60px; 
  font-style: 600; 
  margin: 0;
} 

.section-subtitle {
  width: 60%; 
  margin: 20px auto 0 auto;
} 

.section_subtitle_text { 
  display: flex;
  justify-content: center; 
  line-height: 34px; 
  font-size: 24px; 
  font-style: normal; 
  margin: 0;
} 

.table {  
  display: flex;
  margin: 0 auto 100px ;
  width: 1100px; 
  padding-top: 60px; 
  justify-content: space-between; 
  flex-wrap: wrap;
} 

.table-cell { 
  width: 250px; 
  margin-bottom: 60px;
} 

.table-heading { 
  display: flex; 
  max-width: 250px;
  line-height: 1.15; 
  font-size: 24px; 
  font-style: 600; 
  padding-bottom: 20px; 
  margin: 0;
} 

.table-text {
  line-height: 1.2; 
  font-size: 18px; 
  font-style: normal; 
  padding-bottom: 20px; 
  max-width: 250px; 
  margin: 0;
}

.table_cell_bottom {
  width: 250px; 
} 

.feynman {
  display: flex; 
  flex-direction: column;  
  height: 890px; 
  position: relative; 
  background-color: #f2f2f2;

}

.faynman-title {  
  display: flex;
  justify-content: center;
  margin: 100px auto 0 auto; 
  width: 648px;  
  text-align: center;
} 

.feynman_title_text { 
  line-height: 1.15; 
  font-size: 120px; 
  font-weight: 600; 
  margin: 0; 
  z-index: 2;
} 

.feynman-subtitle {
  margin-top: 70px; 
  display: flex; 
  justify-content: center; 
  margin: 70px auto 0 auto; 
  z-index: 3;
}  

.feynman_subtitle_text {
  line-height: 51px; 
  font-size: 36px; 
  font-style: normal; 
  margin: 0; 
} 

.feynman-link {
  position: absolute;
  margin: auto;
  display: flex;
  right: 48px;
  top: 50%;
  justify-content: center;
} 

.feynman_link_link {
  line-height: 51px; 
  font-size: 36px; 
  font-style: normal; 
  margin: 0;  
  color: #2f80ed; 
  text-decoration: none;
} 

.feynman-image{ 
  bottom: 0; 
  left: 0; 
  width: 867px; 
  height: 637px; 
  position: absolute; 
  z-index: 1;
}  

.kaufman {
  background-color: #1f1f1f; 
  padding-top: 90px;
  padding-bottom: 90px; 
  overflow: hidden; 
  position: relative;
} 

.table_theme_dark {
  margin: 0 auto;
} 

.table__theme_dark { 
  padding: 0;
}
      

.section__title_theme_dark {
  color: white; 
  font-size: 60px; 
  margin: 0 auto 0 auto;
} 

.section__subtitle_theme_dark {
 color: white; 
 font-size: 24px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px; 
  z-index: 2; 
} 

.table__heading_theme_dark {
  color: white; 
  font-size: 24px; 
  z-index: 3;
} 

.table__text_theme_dark { 
  color: white;
  font-size: 18px; 
  font-style: normal; 
  line-height: 1.2; 
  z-index: 4; 
  padding: 0;
} 

.kaufman-tringle {
  position: absolute; 
  width: 877px; 
  height: 877px; 
  right: -210px; 
  top: 0; 
  z-index: 1;
} 

.footer {
  min-height: 350px; 
  padding: 60px 0 40px 0; 
  background-color: #1f1f1f;
}  

.footer-columns {
  width: 90%;  
  display: flex; 
  justify-content: space-between; 
  margin: 0 auto; 
  min-height: 350px;
} 

.footer__column_content_copyright {
  display: flex; 
  flex-direction: column; 
  flex-basis: 711px;  
  justify-content: space-between;
} 

.logo_place_footer {
  width: 228px; 
  height: 32px;   
  color: white;
} 

.footer-author {
  margin: 18px 0 18px 0; 
  color: white; 
  line-height: 25px; 
  font-size: 18px; 
  font-style: normal;
} 

.footer__column_content_info { 
  display: flex; 
  flex-direction: column;
}  

.footer_column_link {
  line-height: 30px; 
  font-size: 18px; 
  font-style: normal; 
  text-decoration: none; 
  color: white;
}

.footer__column_content_social { 
  display: flex; 
  flex-direction: column;
}   

.footer_column_links {
  display: flex; 
  flex-direction: column; 
  margin: 20px 0 16px 0;
}

.footer_social_icon {
  width: 16px; 
  height: 16px; 
  margin-right: 10px;
} 

.column_heading_text {
  margin: 0; 
  line-height: 30px; 
  font-size: 18px; 
  font-weight: 600; 
  color: white;
} 